<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
</head>
<body>
<h1>错误</h1>

<!--开发者直接在错误页面看日志信息，不用到服务器上查看错误-->
<div th:utext="'&lt;!--'" th:remove="tag"></div>   <!--remove：移除div标签-->
<div th:utext="'Failed Request URL:' + ${url}" th:remove="tag"></div>
<div th:utext="'Exception message:' +${exception.message}" th:remove="tag"></div>
<ul th:remove="tag">
    <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
</ul>
<div th:utext="'--&lt;'" th:remove="tag"></div>
</body>
</html>