<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title })">
    <meta charset="UTF-8">
    <!--移动端的预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <!--1.导航-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Leishumei</h2>
                <a href="#" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="types.html" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="archives.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="about.html" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--2.中间内容-->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--2.1 左边博客列表的内容-->
                <div class="eleven wide column">
                    <div class="ui top attached segment">
                        <!--2.1.1 header:头部-->
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">博客</h3>    <!--teal:蓝绿色 -->
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2> 篇
                            </div>
                        </div>

                        <!--2.1.2 content:中间内容-->
                        <div class="ui attached segment">
                            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog: ${page.content}">
                                <div class="ui middle aligned mobile reversed stackable grid" >
                                    <div class=" eleven wide column">
                                        <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}/(id=${blog.id})}"  target="_blank" class="m-black" th:text="${blog.title}">你真正的理解什么使财富自由吗？</a></h3>
                                        <p class="m-text" th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标，而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已......</p>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/1027/100/100"  th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">雷术梅</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime ,'yyyy-MM-dd')}">2020-5-28</span>
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i><span th:text="${blog.views}">324</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}" >认知升级</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" five wide column">
                                        <a href="#" th:href="@{/blog/{id}/(id=${blog.id})}" target="_blank">
                                            <img src="https://picsum.photos/id/103/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image" style="width: 400mm">
                                        </a>

                                    </div>
                                </div>
                            </div>

                           <!-- <div class="ui padded vertical segment m-padded-tb-large">
                                <div class="ui middle aligned mobile reversed stackable grid">
                                    <div class=" eleven wide column">
                                        <h3 class="ui header">你真正的理解什么使财富自由吗？</h3>
                                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已......</p>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/1027/100/100"  alt="" class="ui avatar image">
                                                        <div class="content"><a href="#" class="header">雷术梅</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i> 2020-5-28
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i> 324
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=" five wide column">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/103/800/450"  alt="" class="ui rounded image" style="width: 400mm">
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="ui padded vertical segment m-padded-tb-large">
                                <div class="ui middle aligned mobile reversed stackable grid">
                                    <div class=" eleven wide column">
                                        <h3 class="ui header">你真正的理解什么使财富自由吗？</h3>
                                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已......</p>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/1027/100/100"  alt="" class="ui avatar image">
                                                        <div class="content"><a href="#" class="header">雷术梅</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i> 2020-5-28
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i> 324
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=" five wide column">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/103/800/450"  alt="" class="ui rounded image" style="width: 400mm">
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="ui padded vertical segment m-padded-tb-large">
                                <div class="ui middle aligned mobile reversed stackable grid">
                                    <div class=" eleven wide column">
                                        <h3 class="ui header">你真正的理解什么使财富自由吗？</h3>
                                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已......</p>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/1027/100/100"  alt="" class="ui avatar image">
                                                        <div class="content"><a href="#" class="header">雷术梅</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i> 2020-5-28
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i> 324
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=" five wide column">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/103/800/450"  alt="" class="ui rounded image" style="width: 400mm">
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="ui padded vertical segment m-padded-tb-large">
                                <div class="ui middle aligned mobile reversed stackable grid">
                                    <div class=" eleven wide column">
                                        <h3 class="ui header">你真正的理解什么使财富自由吗？</h3>
                                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已......</p>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/1027/100/100"  alt="" class="ui avatar image">
                                                        <div class="content"><a href="#" class="header">雷术梅</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i> 2020-5-28
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i> 324
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=" five wide column">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/103/800/450"  alt="" class="ui rounded image" style="width: 400mm">
                                        </a>

                                    </div>
                                </div>
                            </div>-->


                        </div>

                        <!--2.1.3 footer:底部内容-->
                        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"class="ui mini teal basic button">上一页</a> <!--teal:蓝绿色;basic:按钮框颜色中间为白 -->
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a> <!--teal:蓝绿色;basic:按钮框颜色中间为白 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--2.2右边内容-->
                <div class="five wide column">
                    <!--2.2.1 上边分类部分-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu" >
                                <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type: ${types}">
                                    <span th:text="${type.name}">学习日志</span>
                                    <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                                <!--/*-->
                                <a href="#" class="item">
                                    思考与感悟
                                    <div class="ui teal basic left pointing label">6</div>
                                </a>
                                <a href="#" class="item">
                                    清单
                                    <div class="ui teal basic left pointing label">18</div>
                                </a>
                                <a href="#" class="item">
                                    JavaScript
                                    <div class="ui teal basic left pointing label">28</div>
                                </a>
                                <a href="#" class="item">
                                    创业
                                    <div class="ui teal basic left pointing label">27</div>
                                </a>
                                <a href="#" class="item">
                                    认知升级
                                    <div class="ui teal basic left pointing label">5</div>
                                </a>
                                <!--*/-->
                            </div>
                        </div>
                    </div>

                    <!--2.2.2 标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag: ${tags}">
                                <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                            </a>
                            <!--/*-->
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>

                    <!--2.2.3 最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui segment" th:each="blog :${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}/(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事 （User Story）</a>
                        </div>
                        <!--/*-->
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事 （User Story）</a>
                        </div>
                        <!--*/-->
                    </div>

                    <!--2.2.4 二维码-->
                    <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                    <div class="ui centered card" style="width: 11em"></div>
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image centered" style="width: 11em ">

                </div>
            </div>
        </div>
    </div>

    <!--3.footer:底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"> <!--黑色背景-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px ">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: 1291923916@qq.com</a>
                        <a href="#" class="item">QQ： 1291923916</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>  <!--divider:分割线的意思-->
            <p class="m-text-thin m-text-spaced m-opacity-tiny"> Copyright © 2019-2020 Leishumei Designed by Leishumei</p>
        </div>
    </footer>

    <th:block th:replace="_fragments :: script">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>